@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --primary-color: #6c5ce7;
  --primary-hover-color: rgb(195, 162, 244);
  --secondary-color: #6c5ce7;
  --secondary-hover-color: #8d82e3;
  --background-color: #24252a;
  --text-color: #edf0f1;
  --nav-link-bg: rgb(133, 84, 165);
  --nav-link-hover-bg: rgb(195, 162, 244);
  --nav-link-hover-color: rgb(72, 41, 79);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color-scheme: light dark;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  background: url('https://images.unsplash.com/photo-1620641788421-7a1c342ea42e');
  background-position: center;
}
html{
    
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5%;
  width: 100%;
  flex-wrap: wrap;
}

#logo2home {
  text-decoration: none;
  transition: opacity 0.3s;
}

#logo2home:hover {
  opacity: 0.9;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: var(--text-color);
  cursor: pointer;
  margin-bottom: 0;
  text-align: center;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  text-align: center;
}

.nav-links li {
  margin: 0 15px;
  display: inline-block;
}

.nav-links li a {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.nav-links li a:hover {
  color: var(--nav-link-hover-color);
}

.nav-links li:nth-child(2) a , .nav-links li:only-child a{
  background-color: var(--nav-link-bg);
  padding: 10px 15px;
  border-radius: 30px;
}

.nav-links li:nth-child(3) a:hover {
  background-color: var(--nav-link-hover-bg);
  color: var(--nav-link-hover-color);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav-links li {
    margin: 15px 0px;
  }
}
