{% extends "base_nav.html" %}

{% block title %}Home{% endblock %}

{% block custom_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<link rel="stylesheet" href="{% static 'signup.css' %}">
<link rel="stylesheet" href="{% static 'home.css' %}?{% now "U" %}">
{% endblock %}

{% block content %}
<div class="main">
  <div class="content-wrapper">
    <h2 class="todo-heading">Add new TODO</h2>
    <form action="/add-todo" method="post" class="signup-form">
        {% csrf_token %}
        {{form.as_p}}
        <div class="button-wrapper">
          <input class="clickers" id="signup-button" type="submit" value="Add new">
        </div>           
    </form>
  </div>
</div>

<div class="todo-list">
  <h2 class="table-heading" style="margin-top: 20px;">
    Your TODOs
  </h2>
  {% if todos|length == 0 %}
    <div id="no-todo" class="content-wrapper" style="margin: auto;">
      <br>
      <h1>
        No Todos Yet
      </h1>
    </div>

  {% else %}
    <div class="table-container">
      <div>
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Status</th>
              <th>Priority</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for todo in todos %}
            <tr>
              <td style="font-weight: bold;">{{forloop.counter}}</td>
              <td>{{todo.title}}</td>
              <td>
                {% if todo.status == 'C' %}
                ✅ ({{todo.status}})
              </td>
                {% else %}
                🕒 ({{todo.status}})
              </td>
                {% endif %}
              </td>
              <td>{{todo.priority}}</td>
              <td class="action-td">
                <a href="/delete-todo/{{todo.id}}" class="delete-button" draggable="false">Delete</a>
                {% if todo.status == 'P' %}
                <a href="/change-status/{{todo.id}}/C" title="Mark Completed" class="st" draggable="false">✅</a>
                {% else %}
                <a href="/change-status/{{todo.id}}/P" title="Mark Pending" class="st" draggable="false">🕒</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
