<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Signup Page</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'signup.css' %}">
  <style>
  </style>
</head>

<body>
  <div class="content-wrapper">
    <h1>Sign Up</h1>
    <form action="signup" method="post">
      {% csrf_token %}
      <input type="text" placeholder="Full Name" name="Name/>
      <input type="text" placeholder="Username" name="Username"/>
      <input type="email" placeholder="Email Address" name="Email"/>
      <input type="password" placeholder="Password" name="password"/>
      <input type="password" placeholder="Confirm Password" name="password"/>
      <div class="button-wrapper">
        <input class="clickers" id="signup-button" title="Sign Up" type="submit" value="Create Account"></input>
        <a href="login" id="back_link" draggable="false" class="clickers" title="Click to return">Back to Login</a>
    </form>
  </div>
  </div>
</body>

</html>