{% extends "base_nav.html" %}

{% block title %}Sign Up{% endblock %}

{% block custom_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <h1 class="heading-signup">Sign Up</h1>
  <form action="/signup" method="post" class="signup-form">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="button-wrapper">
      <input class="clickers" id="signup-button" title="Sign Up" type="submit" value="Create Account">
      <a href="home" id="back_link" draggable="false" class="clickers" title="Click to return">Back to Home</a>
    </div>
  </form>
</div>


<script>
  document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelector('label[for="id_username"]').textContent = 'Enter Username';
      document.querySelector('label[for="id_password1"]').textContent = 'Enter Password';
      document.querySelector('label[for="id_password2"]').textContent = 'Confirm Password';
  });
</script>
{% endblock %}
